# Ignorar la carpeta node_modules
node_modules/

# Ignorar los archivos de compilación
dist/
build/

# Ignorar configuraciones específicas del editor
.vscode/
.idea/
package-lock.json

*storybook.log
