#zayrok-table {
  border-spacing: 0px;
}

#zayrok-table-header {
  text-align: left;
}

#zayrok-table-body {
  text-align: left;
}

.zayrok-column {
  padding: 1rem;
}

.zayrok-cell {
  padding: 1rem;
  border: rgb(85, 85, 85, 0.5) solid 2px;
  border-bottom: 0px;
  border-right: 0px;
}

.zayrok-empty-label {
  padding: 1rem;
  text-align: center;
  border: rgb(85, 85, 85, 0.5) solid 2px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#first-column {
  border: rgb(85, 85, 85, 0.5) solid 2px;
  border-top-left-radius: 6px;
  border-left: rgb(85, 85, 85, 0.5) solid 2px;
  border-right: 0px;
  border-bottom: 0px;
}

#last-column {
  border: rgb(85, 85, 85, 0.5) solid 2px;
  border-left: 0px;
  border-right: rgb(85, 85, 85, 0.5) solid 2px;
  border-top-right-radius: 6px;
  border-bottom: 0px;
}

#middle-column {
  border: rgb(85, 85, 85, 0.5) solid 2px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

#last-row-left {
  border: rgb(85, 85, 85, 0.5) solid 2px;
  border-bottom-left-radius: 6px;
  border-right: 0px;
}

#last-row-right {
  border: rgb(85, 85, 85, 0.5) solid 2px;
  border-bottom-right-radius: 6px;
}

#last-row-middle {
  padding: 1rem;
  border: rgb(85, 85, 85, 0.5) solid 2px;
  border-right: 0px;
}

#last-cell-right {
  padding: 1rem;
  border: rgb(85, 85, 85, 0.5) solid 2px;
  border-bottom: 0px;
}
